<<<<<<< HEAD
<style>
    #businessMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>

<div id="businessMenu">
    <div class="menu-item <%= subZone=='Portal' ? 'menu-link active' : 'menu-link' %>"><a href="/business">Home</a></div>
    <div class="menu-item <%= subZone=='Resources' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources">Resources</a></div>
    <div class="menu-item <%= subZone=='News' ? 'menu-link active' : 'menu-link' %>"><a href="/business/news">News</a></div>
    <div class="menu-item <%= subZone=='Jobs' ? 'menu-link active' : 'menu-link' %>"><a href="/business/jobs">Jobs</a></div>
    <div class="menu-item <%= subZone=='Insights' ? 'menu-link active' : 'menu-link' %>"><a href="/business/insights">Insights</a></div>
    <div class="menu-item <%= subZone=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/business/help">Help</a></div>
=======
<style>
    #businessMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>

<div id="businessMenu">
    <div class="menu-item <%= subZone=='Portal' ? 'menu-link active' : 'menu-link' %>"><a href="/business">Home</a></div>
    <div class="menu-item <%= subZone=='Resources' ? 'menu-link active' : 'menu-link' %>"><a href="/business/resources">Resources</a></div>
    <div class="menu-item <%= subZone=='News' ? 'menu-link active' : 'menu-link' %>"><a href="/business/news">News</a></div>
    <div class="menu-item <%= subZone=='Jobs' ? 'menu-link active' : 'menu-link' %>"><a href="/business/jobs">Jobs</a></div>
    <div class="menu-item <%= subZone=='Insights' ? 'menu-link active' : 'menu-link' %>"><a href="/business/insights">Insights</a></div>
    <div class="menu-item <%= subZone=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/business/help">Help</a></div>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</div>