<style>
    #socialspreadMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;

    }
</style>

<div id="socialspreadMenu">
    <div class="menu-item <%= subZone=='Home' ? 'menu-link active' : 'menu-link' %>"><a href="/socialspread">All Spreads</a></div>
    <div class="menu-item <%= subZone=='Business' ? 'menu-link active' : 'menu-link' %>"><a href="/socialspread/business">Business</a></div>
    <div class="menu-item <%= subZone=='News' ? 'menu-link active' : 'menu-link' %>"><a href="/socialspread/news">News</a></div>
    <div class="menu-item <%= subZone=='Hobbies' ? 'menu-link active' : 'menu-link' %>"><a href="#">Hobbies</a></div>
    <div class="menu-item <%= subZone=='Learning' ? 'menu-link active' : 'menu-link' %>"><a href="#">Learning</a></div>
    <div class="menu-item <%= subZone=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/socialspread/help">Help</a></div>
</div>