<style>
    #userMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;

    }

</style>



<div id="userMenu" class="zone-page-menu">
    <div class="menu-item <%= subZone=='Dashboard' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/dashboard">Dashboard</a></div>
    <div class="menu-item <%= subZone=='VR' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/vr/users/dashboard">VR</a></div>
    <div class="menu-item <%= subZone=='Settings' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/settings">Settings</a></div>
    <div class="menu-item <%= subZone=='Inventory' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/inventory">Inventory</a></div>
    <div class="menu-item <%= subZone=='Contacts' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/contacts">Contacts</a></div>
    <div class="menu-item <%= subZone=='Calendar' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/calendar">Calendar</a></div>
    <div class="menu-item <%= subZone=='Help' ? 'zone-menu-link active' : 'menu-link' %>"><a href="/users/help">Help</a></div>
</div>