<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input {
        background-color: #000;
        padding: 5px;
        border-radius: 4px;
        color: #fff;
        margin-bottom: 10px;
        border: none;
        outline: none;

    }

    input::placeholder {
        color: lightskyblue;
    }

    textarea {
        background-color: #000;
        padding: 5px;
        border-radius: 4px;
        color: #fff;
        margin-bottom: 10px;
        border: none;
        outline: none;
    }

    textarea::placeholder {
        color: lightskyblue;
    }

    button {
        padding: 10px;
        font-size: 1.5rem;
        color: #fff;
        background-color: rgba(135, 206, 250, 0.25);
        backdrop-filter: blur(5px);
        border: none;
        outline: none;
        box-shadow: 0 0 10px #fff;
        border-radius: 8px;
        margin-top: 20px;
    }

    .page-section-header {
        margin-bottom: 30px;
        text-align: center;
    }

    .page-section-header:first-of-type {
        margin-top: 30px;
    }

    .page-section-header h4 {
        color: lightskyblue;
        font-size: 2rem;
    }
</style>

<%- include('../partials/menus/zone-menu-test'); %>
    <div class="page-section-header">
        <h4>All Zones</h4>
    </div>
    <div class="all-zones">
        <% subZones.forEach(function(subZone) { %>
            <div class="zone">
                <p style="color: lightskyblue; font-size: 1.2rem;">
                    <%= subZone %>
                </p>
            </div>
        <% }) %>
    </div>
    <div class="page-section-header">
        <h4>Create New SubZone</h4>
        <h4><%= zone.name %></h4>
    </div>
    <div class="create-zone">
        <form action="/zones/id/<%= zone.id %>/sub-zone/create" method="post">
            <input type="text" name="zone" value="<%= zone.id %>" required>
            <input type="text" name="name" placeholder="SubZone Name" required>
            <input type="number" name="code" placeholder="SubZone Code (e.g. 1.1.#)" required>
            <input type="text" name="route" placeholder="Route" required>
            <button type="submit">Add SubZone</button>
        </form>
    </div>