<style>

.no-requests {
    width: calc(90% - 40px);
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    padding: 20px;
}
.no-requests p {
    font-size: 1.2rem;
    color: #fff;
}

.friend-request-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.friend-request-item {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    margin-bottom: 10px;
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: inset 0 0 10px lightskyblue;
}
.friend-request-avatar {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friend-request-avatar img {
    max-width: 100%;
    max-height: 100%;
}
.friend-request-data {
    width: calc(100% - 10px);
    padding: 5px;
}
.friend-request-data p {
    color: lightskyblue;
    font-size: 1.5rem;
    text-shadow: 0 0 4px #000;
}
.friend-request-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100px;
}
.request-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.request-option button {
    outline: none;
    border: none;
    background: transparent;
    background-color: transparent;
}
.request-option i {
    font-size: 2rem;
}

</style>
    <% if (!user.user_background_image) { %>
        <span style="display: none;"></span>
    <% } else { %>
        <div class="user-background-image" style="background:url('<%= user.user_background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
    <% } %>
<div class="page-title">
    <h2>Friend Requests</h2>
</div>

<div class="back-button"><a href="/users/dashboard">Dashboard</a></div>
<div class="page-content">
    <% if (user.friend_requests.length > 0) { %>
        <div class="friend-request-container">
            <% user.friend_requests.forEach(function(requestingUser) { %>
                <div style="box-shadow: inset 0 0 10px <%= requestingUser.favColor1 %>;" class="friend-request-item">
                    <div class="friend-request-avatar">
                        <% if (requestingUser.user_avatar) { %>
                            <img src="/image/<%= requestingUser.user_avatar %>" alt="">
                        <% } else { %>
                            <img src="/images/system/default-user-avatar_1a1a1a.png" alt="">
                        <% } %>
                    </div>
                    <div class="friend-request-data">
                        <p style="color: <%= requestingUser.favColor1 %>;"><%= requestingUser.fname %> <%= requestingUser.lname %></p>
                    </div>
                    <div class="friend-request-options">
                        <div class="request-option yes">
                            <form action="/users/<%= requestingUser.id %>/add-friend/<%= user.id %>/accept" method="post">
                                <button type="submit">
                                    <i data-request-data="<%= requestingUser.id %>" style="color: yellowgreen;" class="far fa-check-circle"></i>
                                </button>
                            </form>
                        </div>
                        <div class="request-option no">
                            <a href="/users/reject/<%= requestingUser.id %>/reject-friend/<%= user.id %>">
                                <i data-request-data="<%= requestingUser.id %>" style="color: orangered" class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>

            <% }) %>
        </div>
    <% } else { %>
        <div class="no-requests">
            <p>You have no friend requests at the moment.</p>
        </div>
    <% } %>
</div>


<script>
    const yesButtons = document.querySelectorAll('.yes')
    const noButtons = document.querySelectorAll('.no')

    yesButtons.forEach(button => {
        console.log('Yes Button: ', button)
        button.addEventListener('click', e => {
            console.log('Button Clicked: ', e.target)

            // Person that sent the requests ID
            const userRequestingYesEl = e.target
            const userRequestingYesId = userRequestingYesEl.getAttribute('data-request-data')
            console.log(userRequestingYesId)
        })
    })
    noButtons.forEach(button => {
        console.log('No Button: ', button)
        button.addEventListener('click', e => {
            console.log('Button Clicked: ', e.target)

        })
    })
</script>