<style>
    #audioMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>


<div id="audioMenu">
    <div class="menu-item <%= subZonePage=='Home' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio">Home</a></div>
    <div class="menu-item <%= subZonePage=='New' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/new">New</a></div>
    <div class="menu-item <%= subZonePage=='Music' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/music">Music</a></div>
    <div class="menu-item <%= subZonePage=='Popular' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/popular">Popular</a></div>
    <div class="menu-item <%= subZonePage=='Saved' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/saved">Saved</a></div>
    <div class="menu-item <%= subZonePage=='History' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/history">History</a></div>
    <div class="menu-item <%= subZonePage=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/entertainment/audio/help">Help</a></div>
</div>