<<<<<<< HEAD
<style>
    #movieMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>


<div id="movieMenu">
    <div class="menu-item <%= subZonePage=='Home' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies">Home</a></div>
    <div class="menu-item <%= subZonePage=='New' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/new">New</a></div>
    <div class="menu-item <%= subZonePage=='Popular' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/popular">Popular</a></div>
    <div class="menu-item <%= subZonePage=='Saved' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/saved">Saved</a></div>
    <div class="menu-item <%= subZonePage=='History' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/history">History</a></div>
    <div class="menu-item <%= subZonePage=='Help' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/help">Help</a></div>
=======
<style>
    #movieMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>


<div id="movieMenu">
    <div class="menu-item <%= subZonePage=='Home' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies">Home</a></div>
    <div class="menu-item <%= subZonePage=='New' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/new">New</a></div>
    <div class="menu-item <%= subZonePage=='Popular' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/popular">Popular</a></div>
    <div class="menu-item <%= subZonePage=='Saved' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/saved">Saved</a></div>
    <div class="menu-item <%= subZonePage=='History' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/history">History</a></div>
    <div class="menu-item <%= subZonePage=='Help' ? 'menu-link active' : 'menu-link' %>"><a
            href="/entertainment/movies/help">Help</a></div>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
</div>