<style>

    .spread-form {
        margin-top: 40px;
        width: 100vw;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
    }
    .spread-form form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spread-form button {
        background-color: rgba(135, 206, 250, 0.25);
        box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.25);
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
        font-size: 1.5rem;
        margin-inline: auto;
        border-radius: 12px;
        padding: 8px;
        outline: none;
        border: none;
        width: 300px;
        max-width: 90vw;

    }
    .input-section {
        margin-bottom: 5px;
        width: 100%;
        overflow-x: hidden;
    }
    .input-header {
        text-align: center;
        padding: 5px;
        font-size: 2rem;
        font-weight: bold;
    }
    .input-data {
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .input-data label {
        background: rgba(255, 255, 255, 0.25);
        color: #fff;
        text-align: center;
        width: 20%;
        font-size: 1rem;
        padding: 4px;
        backdrop-filter: blur(10px);
    }
    .input-data input {
        background: rgba(135, 206, 250, 0.25);
        backdrop-filter: blur(10px);
        width: 80%;
        font-size: 1rem;
        padding: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        outline: none;
        border: inset 2px lightskyblue;
        z-index: 2;
        position: relative;
        border-right: none;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 4px 0 8px rgba(135, 206, 250, 0.5);
    }
    .number-input label, .number-input input {
        width: 50%;
    }
    .input-data input::placeholder {
        color: rgba(187, 187, 187, 0.5);
    }
    .dropdown-data {
        color: #fff;
        z-index: 30000;
        position: relative;
        text-align: center;
    }
    .input-data-select {
        z-index: 30001;
        position: relative;
        color: #fff;
    }
    .boolean-data {
        color: #fff;
        text-align: center;
    }
    .input-data input[type="checkbox"] {
        background-color: lime;
        padding: 10px;
        color: red;
    }


    .input-data-checkbox {
        display: block;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        margin-inline: auto;
        position: relative;
        width: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .input-data-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkbox-label {
        width: 75%;
        text-align: right;
        padding-right: 10px;
    }
    .checkmark {
        position: absolute;
        top: 0;
        right: calc(25% - 35px);
        height: 25px;
        width: 25px;
        background-color: rgba(238, 238, 238, 0.25);
        border: solid 1px #fff;
        box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.25);
        border-radius: 50%;
    }

    .checked-off {
        background: red;
        background-color: rgba(153, 205, 50, 0.75);
        box-shadow: 0 0 10px yellowgreen;
    }
    .checked-off:after {
        content: "";
        position: absolute;
    }
    .input-data-checkbox input:checked ~ .checked-off:after {
        display: block;
    }
    .checked-off:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }




    .education-ended-a {
        display: none;
    }








    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999999; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        backdrop-filter: blur(4px);
        box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.25);
    }
    #openDelModal {
        background: rgba(255, 0, 0, 0.75);
        margin-top: 100px;
        margin-bottom: 60px;
        width: 50%;
        margin-left: 25%;
        outline: none;
        border: outset 2px red;
        border-radius: 6px;
        color: #fff;
        font-size: 1.2rem;
        padding: 5px;
    }
    /* Modal Content */
    .modal-content {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        margin: auto;
        padding: 10px;
        border: 1px outset rgba(136, 136, 136, 0.75);
        width: 80%;
    }
    .modal-content p {
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
    }

    /* The Close Button */
    .close {
        color: red;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    #deleteButton {
        background: rgba(255, 0, 0, 0.75);
        border: outset 1px red;
        color: #fff;
        padding: 5px;
        text-align: center;
    }

@media screen and (min-width: 900px) {
    .input-data label {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .input-data input {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .custom-select-value {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        width: calc(100% - 10px);
    }
}
</style>

<%- include('../../partials/menus/user'); %>

<%- include('../../partials/menus/sub/user/settings'); %>

<div class="page-header">
    <h4>Update Your Profile</h4>
</div>


<section>
    <div class="add-item-photo">
    <form action="/upload-avatar?_method=PATCH" method="post" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" name="user_profile_image" id="userAvatar">
            <label for="userAvatar" class="custom-file-label"></label>
        </div>
        <button type="submit" class="custom-file-button">Change</button>
    </form>
    </div>
</section>

<section class="spread-form">
    <form action="/users/update-profile?_method=PATCH" method="post">
        <div class="input-section">
            <div class="input-header">
                <h5>Name</h5>
            </div>
            <div class="input-data">
                <label for="fName">First</label>
                <input type="text" name="fname" id="fName" value="<%= user.fname %>">
            </div>
            
            <div class="input-data">
                <label for="lName">Last</label>
                <input type="text" name="lname" id="lName" value="<%= user.lname %>">
            </div>

        </div>

        <div class="input-section">
            <div class="input-header">
                <h5>Contact</h5>
            </div>

            <div class="input-data">
                <label for="phone1"><i class="fas fa-phone"></i></label>
                <input type="tel" name="phone1" id="phone1" value="<%= user.phone1 %>">
            </div>
            <div class="input-data">
                <label for="phone2"><i class="fas fa-phone"></i></label>
                <input type="tel" name="phone2" id="phone2" value="<%= user.phone2 %>">
            </div>
            <div class="input-data">
                <label for="fax"><i class="fa-solid fa-fax"></i></label>
                <input type="tel" name="fax" id="fax" value="<%= user.fax %>">
            </div>
            <div class="input-data">
                <label for="email2"><i class="far fa-envelope"></i></label>
                <input type="email" name="email2" id="email2" value="<%= user.email2 %>">
            </div>
            <div class="input-data">
                <label for="personal_sites"><i class="bx bx-code-block"></i></label>
                <input type="url" name="personal_sites" id="personal_sites" value="<%= user.personal_sites %>">
            </div>
        </div>


        <div class="input-section">
            <div class="input-header">
                <h5>Social Media</h5>
            </div>
            <div class="input-data">
                <label for="instagram"><i class="fab fa-instagram"></i></label>
                <input type="text" name="social.instagram" id="instagram" value="<%= user.social.instagram %>" placeholder="Instagram">
            </div>
            <div class="input-data">
                <label for="rumble"><i class="fab fa-ravelry"></i></label>
                <input type="text" name="social.rumble" id="rumble" value="<%= user.social.rumble %>" placeholder="Rumble">
            </div>
            <div class="input-data">
                <label for="discord"><i class="fab fa-discord"></i></label>
                <input type="text" name="social.discord" id="discord" value="<%= user.social.discord %>" placeholder="Discord">
            </div>
            <div class="input-data">
                <label for="twitter"><i class="fab fa-twitter"></i></label>
                <input type="text" name="social.twitter" id="twitter" value="<%= user.social.twitter %>" placeholder="Twitter">
            </div>
            <div class="input-data">
                <label for="facebook"><i class="fab fa-facebook-f"></i></label>
                <input type="text" name="social.facebook" id="facebook" value="<%= user.social.facebook %>" placeholder="Facebook">
            </div>
            <div class="input-data">
                <label for="linkedin"><i class="fab fa-linkedin-in"></i></label>
                <input type="text" name="social.linkedin" id="linkedin" value="<%= user.social.linkedin %>" placeholder="LinkedIn">
            </div>
            <div class="input-data">
                <label for="tiktok"><i class="fab fa-tiktok"></i></label>
                <input type="text" name="social.tiktok" id="tiktok" value="<%= user.social.tiktok %>" placeholder="TikTok">
            </div>
            <div class="input-data">
                <label for="foursquare"><i class="fab fa-foursquare"></i></label>
                <input type="text" name="social.foursquare" id="foursquare" value="<%= user.social.foursquare %>" placeholder="FourSquare">
            </div>
            <div class="input-data">
                <label for="google_plus"><i class="fab fa-google-plus-g"></i></label>
                <input type="text" name="social.google_plus" id="google_plus" value="<%= user.social.google_plus %>" placeholder="Google+">
            </div>
            <div class="input-data">
                <label for="pinterest"><i class="fab fa-pinterest-p"></i></label>
                <input type="text" name="social.pinterest" id="pinterest" value="<%= user.social.pinterest %>" placeholder="Pinterest">
            </div>
            <div class="input-data">
                <label for="snapchat"><i class="fab fa-snapchat-ghost"></i></label>
                <input type="text" name="social.snapchat" id="snapchat" value="<%= user.social.snapchat %>" placeholder="Snapchat">
            </div>
            <div class="input-data">
                <label for="reddit"><i class="fab fa-reddit-alien"></i></label>
                <input type="text" name="social.reddit" id="reddit" value="<%= user.social.reddit %>" placeholder="Reddit">
            </div>
            <div class="input-data">
                <label for="slack"><i class="fab fa-slack-hash"></i></label>
                <input type="text" name="social.slack" id="slack" value="<%= user.social.slack %>" placeholder="Slack">
            </div>
            <div class="input-data">
                <label for="twitch"><i class="fab fa-twitch"></i></label>
                <input type="text" name="social.twitch" id="twitch" value="<%= user.social.twitch %>" placeholder="Twitch">
            </div>
            <div class="input-data">
                <label for="whatsapp"><i class="fab fa-whatsapp"></i></label>
                <input type="text" name="social.whatsapp" id="whatsapp" value="<%= user.social.whatsapp %>" placeholder="WhatsApp">
            </div>
            <div class="input-data">
                <label for="telegram"><i class="fab fa-telegram-plane"></i></label>
                <input type="text" name="social.telegram" id="telegram" value="<%= user.social.telegram %>" placeholder="Telegram">
            </div>
            <div class="input-data">
                <label for="youtube"><i class="fab fa-youtube"></i></label>
                <input type="text" name="social.youtube" id="youtube" value="<%= user.social.youtube %>" placeholder="YouTube">
            </div>
        </div>




        <div class="input-section">
            <div class="input-header">
                <h5>Developers</h5>
            </div>
            <div class="input-data">
                <label for="codepen"><i class="fab fa-codepen"></i></label>
                <input type="text" name="social.codepen" id="codepen" value="<%= user.social.codepen %>" placeholder="CodePen">
            </div>
            <div class="input-data">
                <label for="github"><i class="fab fa-github-alt"></i></label>
                <input type="text" name="social.github" id="github" value="<%= user.social.github %>" placeholder="GitHub">
            </div>
            <div class="input-data">
                <label for="trello"><i class="fab fa-trello"></i></label>
                <input type="text" name="social.trello" id="trello" value="<%= user.social.trello %>" placeholder="Trello">
            </div>
            <div class="input-data">
                <label for="kickstarter"><i class="fab fa-kickstarter-k"></i></label>
                <input type="text" name="social.kickstarter" id="kickstarter" value="<%= user.social.kickstarter %>" placeholder="Kickstarter">
            </div>
            <div class="input-data">
                <label for="stackOverflow"><i class="fab fa-stack-overflow"></i></label>
                <input type="text" name="social.stack_overflow" id="stackOverflow" value="<%= user.social.stack_overflow %>" placeholder="Stack Overflow">
            </div>
            <div class="input-data">
                <label for="figma"><i class="fab fa-figma"></i></label>
                <input type="text" name="social.figma" id="figma" value="<%= user.social.figma %>" placeholder="Figma">
            </div>
            <div class="input-data">
                <label for="dribble"><i class="fab fa-dribbble"></i></label>
                <input type="text" name="social.dribble" id="dribble" value="<%= user.social.dribble %>" placeholder="Dribble">
            </div>
        </div>
        
        <div class="input-section">
            <div class="input-header">
                <h5>Gaming</h5>
            </div>
            <div class="input-data">
                <label for="playstation"><i class="fab fa-playstation"></i></label>
                <input type="text" name="social.playstation" id="playstation"  value="<%= user.social.playstation %>" placeholder="Playstation">
            </div>
            <div class="input-data">
                <label for="xbox"><i class="fab fa-xbox"></i></label>
                <input type="text" name="social.xbox" id="xbox" value="<%= user.social.xbox %>" placeholder="Xbox">
            </div>
        </div>

        <div class="input-section">
            <div class="input-header">
                <h5>Financial</h5>
            </div>
            <div class="input-data">
                <label for="paypal"><i class="fab fa-paypal"></i></label>
                <input type="text" name="social.paypal" id="paypal" value="<%= user.paypal %>" placeholder="PayPal">
            </div>
            <div class="input-data">
                <label for="patreon"><i class="fab fa-patreon"></i></label>
                <input type="text" name="social.patreon" id="patreon" value="<%= user.patreon %>" placeholder="Patreon">
            </div>
        </div>

        <div class="input-section address-inputs">
            <div class="input-header">
                <h5>Shipping Address <span style="color: lightskyblue;">(Private)</span></h5>
            </div>
            <div class="input-data">
                <label for="street1">Street</label>
                <input type="text" name="street" id="street1" value="<%= user.street %>">
            </div>

            <div class="input-data">
                <label for="town">City</label>
                <input type="text" name="town" id="town" value="<%= user.town %>">
            </div>
            <div id="updateUserStateSelect" class="input-data-select">
                <span id="userLivesInState" style="display: none;"><%= user.state %></span>
                <label>State</label>
                <select data-custom>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="input-data">
                <label for="zip">Zip</label>
                <input type="text" name="zip" id="zip" value="<%= user.zip %>">
            </div>
            <div class="input-data">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" value="<%= user.country %>">
            </div>
        </div>
        <div class="input-section">
            <div class="input-header">
                <h5>Color Scheme</h5>
            </div>
            <div class="input-container">
                <div class="input-data">
                    <label for="favColor1">Main</label>
                    <input type="color" name="favColor1" id="favColor1" value="<%= user.favColor1 %>">
                </div>
                <div class="input-data">
                    <label for="favColor2">Accent</label>
                    <input type="color" name="favColor2" id="favColor2" value="<%= user.favColor2 %>">
                </div>
            </div>
        </div>

        <button type="submit">Update</button>

    </form>


    <form action="/users/update-profile/add-education?_method=PATCH" method="post">

        <div class="input-section">
            <div class="input-header">
                <h5>Education</h5>
            </div>
            <div class="input-data">
                <label for="educationInstitutionA">School</label>
                <input type="text" name="institution" id="educationInstitutionA">
            </div>

            <p style="text-align: center; width: 100%; margin-inline: auto; padding-bottom: 3px;"><small style="color: lightskyblue;">For Kindergarten, use 0 (zero)</small></p>
            <div class="input-data number-input">
                <label for="gradeStartA">Starting Grade</label>
                <input type="number" name="gradeStart" id="gradeStartA" placeholder="Starting Grade">
            </div>

            <div class="input-data number-input">
                <label for="gradeEndA">Ending Grade</label>
                <input type="number" name="gradeEnd" id="gradeEndA" placeholder="Final Grade">
            </div>

            <div class="input-data">
                <label for="educationStartedA">Started</label>
                <input type="date" name="start" id="educationStartedA" placeholder="Date Started">
            </div>

            <div class="data-input graduated-a">

                <label class="input-data-checkbox">
                    <input type="checkbox" name="graduated" id="graduatedA" value="true">
                        <span class="checkbox-label">Have you graduated?</span>
                        <span class="checkmark"></span>
                </label>
            </div>

            <div class="input-data education-ended-a">
                <label for="educationEndedA">Completed</label>
                <input type="date" name="completionDate" id="educationEndedA" placeholder="Date Graduated">
            </div>
            
            <div class="input-data education-ended-a number-input">
                <label for="educationGpa">GPA</label>
                <input type="number" name="gpa" id="educationGpa" onchange="setTwoNumberDecimal" min="0" max="5" step="0.1" value="0.00" placeholder="GPA" />
            </div>
            


        </div>
        <button type="submit">Add School</button>
    </form>

    <button id="openDelModal">Delete Account</button>
    <!-- Double Check Delete Account Modal -->
    <div id="deleteModal" class="modal">
        
        <!-- Modal Content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want delete your account?</p>
            <p>All your data will be lost.</p>
            <form action="/users/delete?_method=DELETE" method="post">
                <button type="submit" id="deleteButton" onclick="doubleCheck()">Delete Account</button>
            </form>
        </div>
    
    </div>
</section>



<script>
    const modal = document.getElementById("deleteModal");
    const btn = document.getElementById("openDelModal");
    const updateUserStateSelect = document.getElementById("updateUserStateSelect");
    const span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }   

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>

 class Select {
        constructor(element) {
            this.element = element
            this.options = getFormattedOptions(element.querySelectorAll("option"))
            this.customElement = document.createElement("div")
            this.labelElement = document.createElement("span")
            this.optionsCustomElement = document.createElement("ul")
            setupCustomElement(this)
            element.style.display = "none"
            element.after(this.customElement)
        }
        
        get selectedOption() {
            return this.options.find(option => option.selected)
        }

        get selectedOptionIndex() {
            return this.options.indexOf(this.selectedOption)
        }

        selectValue(value) {
            
            const newSelectedOption = this.options.find(option => {
                return option.value === value
            })
            const prevSelectedOption = this.selectedOption
            prevSelectedOption.selected = false
            prevSelectedOption.element.selected = false

            newSelectedOption.selected = true
            newSelectedOption.element.selected = true

            this.labelElement.innerText = newSelectedOption.label
            this.optionsCustomElement
                .querySelector(`[data-value="${prevSelectedOption.value}"]`)
                .classList.remove("selected")
            const newCustomElement = this.optionsCustomElement.querySelector(
                `[data-value="${newSelectedOption.value}"]`
            )
            newCustomElement.classList.add("selected")
            newCustomElement.scrollIntoView({ block: "nearest" })
        }
    }

    function setupCustomElement(select) {
        select.customElement.classList.add("custom-select-container")
        select.customElement.tabIndex = 0

        select.labelElement.classList.add("custom-select-value")

        const userSavedState = document.querySelector('#userLivesInState').innerText
            if (userSavedState != 'null') {
                select.labelElement.innerText = userSavedState
            } else {
                select.labelElement.innerText = select.selectedOption.label
            }
        select.customElement.append(select.labelElement)


        select.optionsCustomElement.classList.add("custom-select-options")
        select.options.forEach(option => {
            const optionElement = document.createElement("li")
            optionElement.classList.add("custom-select-option")
            optionElement.classList.toggle("selected", option.selected)
            optionElement.innerText = option.label
            optionElement.dataset.value = option.value
            optionElement.addEventListener("click", () => {
                select.selectValue(option.value)
                select.optionsCustomElement.classList.remove("show")
                updateUserStateSelect.style.marginBottom = '10px'
            })
            select.optionsCustomElement.append(optionElement)
        })
        select.customElement.append(select.optionsCustomElement)

        select.labelElement.addEventListener("click", () => {
            select.optionsCustomElement.classList.toggle("show")
            updateUserStateSelect.style.marginBottom = '210px'
        })
        
        select.customElement.addEventListener("blur", () => {
            select.optionsCustomElement.classList.remove("show")
            updateUserStateSelect.style.marginBottom = '10px'
        })

        let debounceTimeout
        let searchTerm = ""
        select.customElement.addEventListener("keydown", e => {
            switch (e.code) {
                case "Space":
                    select.optionsCustomElement.classList.toggle("show")
                    break
                case "ArrowUp": {
                    const prevOption = select.options[select.selectedOptionIndex - 1]
                    if (prevOption) {
                        select.selectValue(prevOption.value)
                    }
                    break
                }
                case "ArrowDown": {
                    const nextOption = select.options[select.selectedOptionIndex + 1]
                    if (nextOption) {
                        select.selectValue(nextOption.value)
                    }
                    break
                }
                case "Enter":
                case "Escape":
                    select.optionsCustomElement.classList.remove("show")
                    break
                default: {
                    clearTimeout(debounceTimeout)
                    searchTerm += e.key
                    debounceTimeout = setTimeout(() => {
                        searchTerm = ""
                    }, 500)

                    const searchedOption = select.options.find(option => {
                        return option.label.toLowerCase().startsWith(searchTerm)
                    })
                    if (searchedOption) {
                        select.selectValue(searchedOption.value)
                    }
                }
            }
        })
    }

    function getFormattedOptions(optionElements) {
        return [...optionElements].map(optionElement => {
            return {
                value: optionElement.value,
                label: optionElement.label,
                selected: optionElement.selected,
                element: optionElement,
            }
        })
    }

    const selectElements = document.querySelectorAll("[data-custom]")

        selectElements.forEach(selectElement => {
            new Select(selectElement)
        })
</script>

<script>
    const graduationData = document.querySelector('.graduated-a')
    const inputDataCheckboxes = document.querySelectorAll('.graduated-a > .input-data-checkbox')
    console.log(inputDataCheckboxes)
    const graduatedOnlyInputs = document.querySelectorAll('.education-ended-a')
    console.log(graduatedOnlyInputs)

    inputDataCheckboxes.forEach(checkbox => {
        const checkboxToggle = checkbox.querySelector('.checkmark')
        const checkboxInput = checkbox.querySelector('input')

        checkboxToggle.addEventListener('click', e => {
            console.log('clicked checkbox - should turn checkmark on')
            checkboxToggle.classList.toggle('checked-off')
            if (checkboxToggle.className.includes('checked-off')) {
                console.log('SET checkboxInput attr to checked')
                checkboxInput.setAttribute('checked', true)
                graduatedOnlyInputs.forEach(input => input.style.display = 'flex')
            } else {
                console.log('REMOVE checkboxInput attr checked')
                checkboxInput.removeAttribute('checked')
                graduatedOnlyInputs.forEach(input => input.style.display = 'none')
            }
        })

    })


// GPA INPUT
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
</script>