<<<<<<< HEAD
<style>

</style>

<%- include('../../partials/menus/business'); %>

<%- include('../../partials/menus/sub/business/resources'); %>

    <div class="sub-zone-page-title">
        <h2>
            <%= subZonePage %>
        </h2>
=======
<style>

</style>

<%- include('../../partials/menus/business'); %>

<%- include('../../partials/menus/sub/business/resources'); %>

    <div class="sub-zone-page-title">
        <h2>
            <%= subZonePage %>
        </h2>
>>>>>>> a8a8b4650a974eeda356f271e4e38c9b4cab5fa3
    </div>