<style>
    .auto-scroller {
        z-index: 50000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        position: fixed;
        top: 40%;
        right: 0;
        transform: translateY(-35%);
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.25), 0 0 2px lightskyblue;
        border-top-left-radius: 8px;    
        border-bottom-left-radius: 8px;    
    }
    .auto-scroller button {
        background: rgba(135, 206, 250, 0.25);
        box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.25);
        border: none;
        outline: none;
        color: #fff;
        text-shadow: 0 0 2px lightskyblue;
        height: 50px;
        width: 30px;
    }
    .auto-scroller button:first-of-type {
        border-top-left-radius: 8px;
    }
    .auto-scroller button:last-of-type {
        border-bottom-left-radius: 8px;
    }
    .auto-scroller a {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 0 2px lightskyblue;
    }
    .spread-form {
        margin-top: 40px;
        width: 50%;
        margin: 0 auto;
    }
    .spread-form form {
    }
    .input-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

        margin-bottom: 5px;
    }
    .input-section button {
      width: 25%;  
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.5);
      margin-top: 20px;
      margin-bottom: 20px;
      outline: none;
      border-radius: 6px;
      color: #fff;
      font-size: 1.2rem;
      padding: 10px;
    background: rgba(135, 206, 250, 0.5);
    border: outset 2px lightskyblue;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;
    }
    .input-header {
        text-align: center;
        padding: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .input-data {
        margin-bottom: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 80%;
    }
    .input-data input {
    font-size: 1rem;
    width: calc(95% - 50px);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 3px;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-weight: lighter;
    margin: 0;
    margin-top: 1px;
    outline: none;
    border: inset 2px rgba(255, 255, 255, 0.25);
    border-right: none;
    transition: ease-in 0.5s;
}
.input-data input:-webkit-autofill,
.input-data input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
.input-data input::placeholder {
    color: #fff;
    text-shadow: 0 0 6px #000;
}
.input-data input:focus {
    color: #fff;
    text-shadow: 0 0 6px #000;
    background: rgba(135, 206, 250, 0.25);
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.25), 0 0 2px rgba(255, 255, 255, 0.5);
    border: inset 2px rgba(135, 206, 250, 0.75);
    border-right: none;
    transition: ease-in 0.3s;
}
    .input-data label {
        background: rgba(255, 255, 255, 0.25);
        color: #fff;
        text-align: center;
        width: 20%;
        font-size: 1rem;
        padding: 4px;
    }
    .input-data input {
        width: 100%;
        font-size: 1rem;
        padding: 4px;
        margin-top: 8px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        outline: none;
        border: inset 2px lightskyblue;
        border-right: none;
        box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
    }
    .input-data input:-internal-autofill-selected  {
      background-color: rgba(135, 206, 250, 0.5);
      background: rgba(135, 206, 250, 0.5);
      font-family: 'Gruppo', cursive;
    }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
    @media screen and (min-width: 299px) {

    .spread-form {
        margin-top: 40px;
        width: 90%;
        margin: 0 auto;
    }
    .spread-form form {
    }
    .input-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
        margin-bottom: 5px;
    }
    .input-section button {
      width: 45%;  
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.5);
      margin-top: 20px;
      margin-bottom: 20px;
      outline: none;
      border-radius: 6px;
      color: #fff;
      font-size: 1rem;
      padding: 10px;
    background: rgba(135, 206, 250, 0.5);
    border: outset 2px lightskyblue;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25), inset 0 0 3px #fff;
    }
    .full-page-slider-container {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .movie-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 6px;
    }
    .movie-container a {
        width: 120px;
        text-align: center;
        border-radius: 6px;
    }
    .movie-background {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .movie-background img {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 3px rgba(135, 206, 250, 0.75);
        max-height: 100%;
        height: 100%;
        width: 120px;
        border-radius: 8px;
    }

       
    }
    @media screen and (min-width: 762px) {
        .full-page-slider-container {
            width: 90%;
            margin: 0 auto;
            height: auto;
            overflow-x: auto;
            overflow-y: ;
            overflow: auto;

        }
        .full-page-slider {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;

        }
        .movie-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            }
        .movie-container a {
            width: 200px;
            text-align: center;
            border-radius: 6px;
        }
        .movie-background {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .movie-background img {
            max-height: 100%;
            height: 100%;
            width: 200px;
            border-radius: 6px;
        }


    }
    @media screen and (min-width: 992px) {
    .full-page-slider-container {
        width: 100vw;
        height: 70vh;
        overflow-x: scroll;

    }
    .full-page-slider {
        height: 100%;
        width: fit-content;
        display: grid;
        grid-template-rows: [row-1] 33% [row-2] 33% [row-3] 33%; 
        grid-auto-columns: 125px;
        grid-auto-flow: column;
        margin-left: 20px;
        margin-right: 10px;

    }
    .movie-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding-bottom: 5px;
    }
    .movie-container a {
        width: 120px;
        text-align: center;
        border-radius: 6px;
    }
    .movie-background {
        width: 80%;
        max-height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .movie-background img {
        max-height: 100%;
        height: 100%;
        width: 120px;
        border-radius: 6px;
    }

       
    }
    @media screen and (min-width: 762px) {
        .full-page-slider-container {
            width: 90%;
            margin: 0 auto;
            height: auto;
            overflow-x: auto;
            overflow-y: ;
            overflow: auto;

        }
        .full-page-slider {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;

        }
        .movie-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            }
        .movie-container a {
            width: 150px;
            text-align: center;
            border-radius: 6px;
        }
        .movie-background {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .movie-background img {
            max-height: 100%;
            height: 100%;
            width: 150px;
            border-radius: 6px;
        }


    }
    @media screen and (min-width: 1199px) {


    }
</style>





    <div class="auto-scroller">
        <button><a href="#top"><i class="fas fa-angle-double-up"></i></a></button>
        <button onclick="pageScrollUp()" ><i class="fas fa-chevron-up"></i></i></button>
        <button onclick="stopScroll()" ><i class="fas fa-stop"></i></button>
        <button onclick="pageScroll()" ><i class="fas fa-chevron-down"></i></button>
        <button><a href="#bottom"><i class="fas fa-angle-double-down"></i></a></button>
    </div>

    <div id="top"></div>
<%- include('../../partials/menus/entertainment'); %>

<%- include('../../partials/menus/sub/entertainment/movies'); %>

    <div class="sub-zone-page-title">
        <h2><%= subZonePage %></h2>
    </div>
<div class="spread-form">
    <form action="/entertainment/movies/search" method="POST">
        <div class="input-section">
            <div class="input-data">
                <input type="text" name="movie" id="movie" placeholder="Search for movies...">
            </div>
            <button type="submit">Search Movies</button>
        </div>
    </form>
</div>

    <div class="full-page-slider-container">
        <% movies.forEach(function(movie) { %>
            <div class="movie-container">
                <a href="/entertainment/movies/title/<%= movie.link %>">
                    <div class="movie-background">
                        <img src="<%= movie.poster %>" alt="">
                    </div>
                </a>
            </div>
            <% }) %>
    </div>

<div id="bottom"></div>
<script>
    function pageScroll() {
        window.scrollBy(0, 1);
        scrolldelay = setTimeout('pageScroll()', 20)
    }
    function pageScrollUp() {
        window.scrollBy(0, -1);
        scrolldelay = setTimeout('pageScrollUp()', 20)
    }

    function stopScroll() {
        clearTimeout(scrolldelay);
    }

</script>

