<style>
    .leisure-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 90000;
    }

    .leisure-app-header {
        position: relative;
        z-index: 90001;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .leisure-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0 0 2px lightskyblue);
        opacity: 0.5;
    }

    .leisure-app {
        position: relative;
        z-index: 90002;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        margin-top: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .leisure-app-page {
        text-align: center;
    }

    .leisure-app-page h5 {
        font-size: 3rem;
        border-bottom: solid 1px #fff;
    }

    .app-body-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .app-body-menu a {
        color: rgb(18, 168, 18);
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(4px);
        border-radius: 4px;
        font-size: 1.5rem;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 5px;
    }


    .golf-course-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .golf-course-list h5 {
        font-size: 3rem;
        margin-bottom: 30px;
    }
    
    .course-link {
        padding: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    .course-link a {
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.25);
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    }


    .par-number h6 {
        font-size: 3rem;
        text-align: center;
    }
    .add-golf-course {
        border-top: solid 1px #fff;
        border-bottom: solid 1px #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .add-golf-course form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .add-golf-course p {
        text-align: center;
        margin-bottom: 15px;
        font-size: 1.5rem;
        color: #fff;
    }
    .add-golf-course select {
        display: block;
        background-color: #000;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .add-golf-course input {
        background-color: #000;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .add-golf-course button {
        margin-top: 10px;
        padding: 8px;
        border: none;
        outline: none;
        border-radius: 8px;
        background-color: lightskyblue;
        color: #fff;
        font-size: 1.2rem;
    }
    .add-golf-course-sections {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 10   0%;
        margin: 0 auto;
    }
    .add-golf-course-section {
        width: 48%;
    }
    .add-golf-course-section input {
        width: 90%;
    }
</style>



<div class="leisure-background"
    style="background-image: url('/images/system/ar/ar_golf_background_1a1a1a.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
</div>
<div class="leisure-app-header">
    <div class="page-title">
        <h2>WideSpread</h2>
    </div>

    <div class="leisure-logo">
        <img src="/images/system/ar/ar_golf_1a1a1a.png" alt="">
    </div>




    <div class="app-body-menu">
        <a href="/ar/sports/golf/player">Your Caddy</a>
        <a href="/ar/sports/golf/courses">Golf Courses</a>
</div>
</div>
<div class="leisure-app">

    <div class="leisure-app-page">
        <h5>Hole <%= hole.hole_number %></h5>
    </div>

    <div class="leisure-app-body">

        <div class="par-number">
            <h6>Par <%= hole.par %></h6>
        </div>


        <div class="golf-course-list">
            <h5>Tees</h5>
            <% hole.tees.forEach(function(tee) { %>
                <div class="course-link">
                    <a href="/ar/sports/golf/courses/view/<%= courseId %>/round/<%= scoreCardId %>/holes/<%= hole.id %>/tee/color/<%= tee.color %>" style="color: <%= tee.color %>">
                        <%= tee.color %> Tee - <%= tee.distance %> yds.
                    </a>
                </div>
                <% }) %>
        </div>


    </div>
</div>

