<style>
    #fitnessMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
    }
</style>


<div id="fitnessMenu">
    <div class="menu-item <%= subZonePage=='Home' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness">Home</a></div>
    <div class="menu-item <%= subZonePage=='Workout' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness/workout">Workout</a></div>
    <div class="menu-item <%= subZonePage=='Exercises' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness/exercises">Exercises</a></div>
    <div class="menu-item <%= subZonePage=='Plan' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness/plan">Plan</a></div>
    <div class="menu-item <%= subZonePage=='History' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness/history">History</a></div>
    <div class="menu-item <%= subZonePage=='Help' ? 'menu-link active' : 'menu-link' %>"><a href="/wellness/fitness/help">Help</a></div>
</div>