<style>
    .manage-public-page {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
        background:rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 8px;
        border-top: outset 1px rgba(255, 255, 255, 0.5);
        border-bottom: outset 1px rgba(255, 255, 255, 0.5);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .manage-public-page a {
        color: #fff;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 10px;
        background: rgba(135, 206, 250, 0.25);
        backdrop-filter: blur(4px);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.25), 0 0 3px lightskyblue;
        border-radius: 8px;
        margin-bottom: 20px;
    }
</style>


<%- include('../../../partials/menus/business'); %>

<div class="company-background-image" style="background:url('/image/<%= company.background_image %>') 50% 50% no-repeat; background-size:cover;"></div>
<div class="company-background-image-filter"></div>


<div class="page-title">
    <h2>Admin Portal</h2>
</div>


<div class="manage-public-page">
    <a href="/business/admin/<%= company.id %>/manage/public-pages">Manage Public Pages</a>
    <a href="/business/admin/<%= company.id %>/manage/inventory">Manage Inventory</a>
    <a href="/business/admin/<%= company.id %>/manage/store">Manage Store</a>
</div>